<script setup lang="ts">
import type { User } from '@/types/User'
import { nextTick, onMounted, ref } from 'vue'
import type { VForm } from 'vuetify/components'
import SalaryAppbarVue from '@/components/SalaryAppbar.vue'
const users = ref<User[]>([])

const headers = [
  {
    title: 'Id',
    key: 'id',
    value: 'id'
  },
  {
    title: 'Email',
    key: 'email',
    value: 'email'
  },
  {
    title: 'Full Name',
    key: 'fullName',
    value: 'fullName'
  },
  {
    title: 'Gender',
    key: 'gender',
    value: 'gender'
  },
  {
    title: 'Roles',
    key: 'roles',
    value: (item: any | User) => item.roles.join(', ')
  },
  { title: 'Actions', key: 'actions', sortable: false }
]
const form = ref(false)
const loading = ref(false)
const dialogDelete = ref(false)
const refform = ref<VForm | null>(null)
const dialog = ref(false)
const HistoryDialog = ref(false)
let editedIndex = -1
let lastId = 4
let showname = null
const initilUser: User = {
  id: -1,
  email: '',
  password: '',
  fullName: '',
  gender: 'male',
  roles: [],
  image: ''
}
function onSubmit() { }
function opendialog() {
  dialog.value = true
}
function editItem(item: User) {
  editedIndex = users.value.indexOf(item)
  editedUser.value = Object.assign({}, item)
  dialog.value = true
}
function deleteItem(item: User) {
  editedIndex = users.value.indexOf(item)
  editedUser.value = Object.assign({}, item)
  dialogDelete.value = true
  editedIndex = -1
}
function initialize() {
  users.value = []
}

onMounted(() => {
  initialize()
})
function closeDialog() {
  dialog.value = false
  nextTick(() => {
    editedUser.value = Object.assign({}, initilUser)
    editedIndex = -1
  })
}

async function save() {
  const { valid } = await refform.value!.validate()

  if (!valid) return

  closeDialog()
}
function closeDelete() {
  dialogDelete.value = false
  nextTick(() => {
    editedUser.value = Object.assign({}, initilUser)
  })
}
function deleteItemConfirm() {
  // this.desserts.splice(this.editedIndex, 1)
  users.value.splice(editedIndex, 1)

  closeDelete()
}
const editedUser = ref<User>(JSON.parse(JSON.stringify(initilUser)))
async function confirmpayment() {
  const { valid } = await refform.value!.validate()

  if (!valid) return
  else msalaryList.value.push({ ...msalary.value, idm: lastIdm++ })
  msalary.value = {
    moneysalary: 0,
    idm: 0,
    fname: ''
  }
  closeDialog()
}
let lastIdm = 1
interface Moneysalary {
  moneysalary: number
  idm: number
  fname: string
}
const msalary = ref<Moneysalary>({
  moneysalary: 0,
  idm: 0,
  fname: ''
})
const msalaryList = ref<Moneysalary[]>([])
function openHistorydialog() {
  HistoryDialog.value = true
}
function deleteItemsalaryConfirm() {
  // this.desserts.splice(this.editedIndex, 1)
  msalaryList.value.splice(editedIndex, 1)

  closeDelete()
}
async function showbillSalary() {
  const { valid } = await refform.value!.validate()

  if (!valid) return
  else showBills.value = true
}
const showBills = ref(false)
</script>

<template>
  <div>
    <v-dialog v-model="showBills" activator="parent" width="auto">
      <v-card>
        <v-card-text style="text-align: center">
          <img style="width: 350px" src="../assets/bill1.jpg" />
        </v-card-text>
        <v-card-actions>
          <v-btn color="primary" block @click="showBills = false">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
  <div>
    <v-dialog v-model="HistoryDialog" activator="parent" width="800" height="auto"
      style="text-align: center; font-size: 20pt">
      <v-card>
        <v-card-text>
          <table style="text-align: center; margin: auto">
            <tr>
              <th class="text-center">No</th>

              <th class="text-center">Employee Name</th>

              <th class="text-center">Total</th>

              <th class="text-center">Action</th>
            </tr>
            <tr v-for="ad of msalaryList" :key="ad.idm">
              <td>{{ ad.idm }}</td>
              <td>{{ ad.fname }}</td>
              <td>{{ ad.moneysalary }}</td>
              <td><v-icon icon="mdi-delete" @click="deleteItemsalaryConfirm()"></v-icon></td>
            </tr>
          </table>
        </v-card-text>
        <v-card-actions>
          <v-btn color="primary" block @click="HistoryDialog = false">Close Dialog</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
  <div>
    <!-- <v-table>
            <thead>
                <tr>
                    <th class="text-left">
                        ID
                    </th>
                    <th class="text-left">
                        Email
                    </th>
                    <th class="text-left">
                        Fullname
                    </th>
                    <th class="text-left">
                        Gender
                    </th>
                    <th class="text-left">
                        Roles
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in users" :key="item.id">
                    <td>{{ item.id }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.fullName }}</td>
                    <td>{{ item.gender }}</td>
                    <td>{{ item.roles.join(',') }}</td>
                </tr>
            </tbody>
        </v-table> -->
  </div>
  <div>
    <v-data-table :headers="headers" :items="users">
      <template v-slot:top>
        <v-toolbar flat>
          <v-toolbar-title>Employee</v-toolbar-title>

          <v-spacer></v-spacer>
          <v-btn prepend-icon="mdi-cash" append-icon="mdi-check" size="x-large" color="green"
            @click="opendialog()">Payment</v-btn>
          <v-btn v-model="HistoryDialog" @click="openHistorydialog()" append-icon="mdi-magnify"
            size="x-large">History</v-btn>
          <v-dialog v-model="dialog" persistent width="650">
            <!-- <template v-slot:activator="{ props }">
                            <v-btn color="primary" v-bind="props">
                                New User
                            </v-btn>
                        </template> -->
            <v-card>
              <v-card-title>
                <span class="text-h4">Salary Payment</span>
              </v-card-title>
              <v-card-text>
                <v-form ref="refform" v-model="form" @submit.prevent="onSubmit">
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="12" md="6">
                        <v-text-field :rules="[(v) => !!v || 'Field is required']" clearable
                          label="Please enter a value." placeholder="Enter Payment" id="moneysalary"
                          v-model="msalary.moneysalary">
                        </v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="6">
                        <v-text-field :rules="[(v) => !!v || 'Field is required']" clearable label="Enter Name Employee"
                          placeholder="Enter Name" id="fname" v-model="msalary.fname">
                        </v-text-field>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-form>
                <small>Payment</small>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="red" variant="text" @click="closeDialog()"> Close </v-btn>
                <v-btn class="ma-2" color="green" icon="mdi-checkbox-marked-circle"
                  @click="confirmpayment(), showbillSalary()" size="x-large">
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <!-- <v-dialog v-model="dialog" max-width="500px">
                        <template v-slot:activator="{ props }">
                            <v-btn color="primary" dark class="mb-2" v-bind="props">
                                New Item
                            </v-btn>
                        </template>
                        <v-card>
                            <v-card-title>
                                <span class="text-h5">{{ formTitle }}</span>
                            </v-card-title>

                            <v-card-text>
                                <v-container>
                                    <v-row>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field v-model="editedItem.name" label="Dessert name"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field v-model="editedItem.calories" label="Calories"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field v-model="editedItem.fat" label="Fat (g)"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field v-model="editedItem.carbs" label="Carbs (g)"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field v-model="editedItem.protein" label="Protein (g)"></v-text-field>
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-card-text>

                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue-darken-1" variant="text" @click="close">
                                    Cancel
                                </v-btn>
                                <v-btn color="blue-darken-1" variant="text" @click="save">
                                    Save
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog> -->
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue-darken-1" variant="text" @click="closeDelete">Cancel</v-btn>
                <v-btn color="red" variant="text" @click="deleteItemConfirm">OK</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-icon size="large" @click="deleteItem(item)"> mdi-delete </v-icon>
      </template>
      <template v-slot:no-data>
        <v-btn color="primary" @click="initialize"> Reset </v-btn>
      </template>
    </v-data-table>
  </div>
  <!-- <div>
        <pre>{{ msalary }}</pre>
        <pre>{{ msalaryList }}</pre>
    </div> -->
</template>

<style scoped>
table {
  width: 90%;
}

th {
  height: 70px;
}

tr {
  text-align: center;
}

td {
  text-align: center;
}
</style>
