<script setup lang="ts">
import { nextTick, onMounted, ref } from 'vue'
import type { VForm } from 'vuetify/components'
const currentDate = ref()
const currentTime = ref()
const dialogVisible = ref(false)
type Gender = 'male' | 'female' | 'others'
type Role = 'admin' | 'user'
type User = {
  id: number
  email: string
  password: string
  fullname: string
  gender: Gender // male female others
  role: Role[] //admin user
}
const tableData = ref([])

function dateTime() {
  const now = new Date()
  currentDate.value = now.toLocaleDateString()
  currentTime.value = now.toLocaleTimeString()
}
setInterval(dateTime, 1000)

function showCheckInDialog() {
  dialogVisible.value = true
}
const headers = [
  {
    title: 'Id',
    key: 'id',
    value: 'id'
  },
  {
    title: 'Email',
    key: 'email',
    value: 'email'
  },
  {
    title: 'Full Name',
    key: 'fullname',
    value: 'fullname'
  },
  {
    title: 'Gender',
    key: 'gender',
    value: 'gender'
  },
  {
    title: 'In Time',
    key: 'checkInTime',
    value: 'checkInTime'
  },
  {
    title: 'Out Time',
    key: 'checkOutTime',
    value: 'checkOutTime'
  },

  {
    title: 'Role',
    key: 'role',
    value: (item: any | User) => item.role.join(',')
  },
  { title: '', key: 'actions', sortable: false }
]
const form = ref(false)
const refForm = ref<VForm | null>(null)
const dialog = ref(false)
const dialogDelete = ref(false)
const loading = ref(false)
const initilUser: User = {
  id: -1,
  email: '',
  password: '',
  fullname: '',
  gender: 'male',
  role: ['user']
}
const editedUser = ref<User>(JSON.parse(JSON.stringify(initilUser)))
const users = ref<User[]>([
  {
    id: 1,
    email: 'mark@gmail.com',
    password: '123',
    fullname: 'Mark',
    gender: 'male',
    role: ['admin', 'user']
  },
  {
    id: 2,
    email: 'noon@gmail.com',
    password: '123',
    fullname: 'Noon',
    gender: 'male',
    role: ['user']
  },
  {
    id: 3,
    email: 'folk@gmail.com',
    password: '123',
    fullname: 'Folk',
    gender: 'male',
    role: ['user']
  }
])
let editedIndex = -1
let lastId = 4
function onSubmit() {}

function closeDelete() {
  dialogDelete.value = false
  nextTick(() => {
    editedUser.value = Object.assign({}, initilUser)
  })
}

function CheckoutItem(item: User) {
  editedIndex = users.value.indexOf(item)
  editedUser.value = Object.assign({}, item)
  const now = new Date()
  const checkOutTime = now.toLocaleTimeString()

  // Display the Check-Out time
  console.log(`Checked OUT at: ${checkOutTime}`)

  // Save the Check-Out time in the data table
  item.checkOutTime = checkOutTime
}

function CheckinItem(item: User) {
  editedIndex = users.value.indexOf(item)
  editedUser.value = Object.assign({}, item)
  const now = new Date()
  const checkInTime = now.toLocaleTimeString()

  // Display the Check-Out time
  console.log(`Checked IN at: ${checkInTime}`)

  // Save the Check-Out time in the data table
  item.checkInTime = checkInTime
}

function closeDialog() {
  dialog.value = false
  nextTick(() => {
    editedUser.value = Object.assign({}, initilUser)
    editedIndex = -1
  })
}
async function save() {
  const { valid } = await refForm.value!.validate()

  if (!valid) return

  if (editedIndex > -1) {
    Object.assign(users.value[editedIndex], editedUser.value)
  } else {
    editedUser.value.id = lastId++
    users.value.push(editedUser.value)
  }
  editedIndex = -1
  closeDialog()
}
function initialize() {
  users.value = [
    {
      id: 1,
      email: 'mark@gmail.com',
      password: '123',
      fullname: 'Mark',
      gender: 'male',
      role: ['admin', 'user']
    },
    {
      id: 2,
      email: 'noon@gmail.com',
      password: '123',
      fullname: 'Noon',
      gender: 'male',
      role: ['user']
    },
    {
      id: 3,
      email: 'folk@gmail.com',
      password: '123',
      fullname: 'Folk',
      gender: 'male',
      role: ['user']
    }
  ]
}

onMounted(() => {
  initialize()
})
</script>

<template>
  <div>
    <v-col>
      <p style="font-size: 50px; text-align: center">{{ currentTime }}</p>
    </v-col>
    <v-data-table :headers="headers" :items="users">
      <template v-slot:top>
        <v-toolbar flat>
          <v-toolbar-title>Check IN&OUT</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <!-- Put Edited Dialog -->

          <v-dialog v-model="dialog" persistent width="1024">
            <template v-slot:activator="{ props }">
              <v-btn color="primary" v-bind="props"> New User </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="text-h5">CHECK IN </span>
              </v-card-title>
              <v-card-text>
                <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model="editedUser.email"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                          label="Email"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model="editedUser.fullname"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                          label="Full Name"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model="editedUser.password"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          clearable
                          label="Password"
                          placeholder="Enter your password"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6">
                        <v-combobox
                          label="Gender"
                          :items="['male', 'female', 'others']"
                          v-model="editedUser.gender"
                        ></v-combobox>
                      </v-col>
                      <v-col cols="12" sm="6">
                        <v-combobox
                          v-model="editedUser.role"
                          :items="[
                            { title: 'Admin', value: 'admin' },
                            { title: 'User', value: 'user' }
                          ]"
                          label="Select roles"
                          multiple
                          :return-object="false"
                        ></v-combobox>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-form>
                <small>*indicates required field</small>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue-darken-1" variant="text" @click="closeDialog()"> Close </v-btn>
                <v-btn color="blue-darken-1" variant="text" @click="save()"> Save </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>

          <!-- delete dialog -->
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="text-h5"
                >Are you sure you want to delete this item?</v-card-title
              >
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue-darken-1" variant="text" @click="closeDelete">Cancel</v-btn>
                <v-btn color="blue-darken-1" variant="text" @click="deleteItemConfirm">OK</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-btn
          class="me-2"
          @click="CheckinItem(item)"
          rounded
          variant="elevated"
          style="
            background-color: greenyellow;
            color: white;
            font-size: 11px;
            font-family: 'Font', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          "
        >
          CHECK IN
        </v-btn>

        <v-btn
          class="me-2"
          @click="CheckoutItem(item)"
          rounded
          variant="elevated"
          style="
            background-color: rgb(227, 11, 11);
            color: white;
            font-size: 11px;
            font-family: 'Font', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          "
        >
          CHECK OUT
        </v-btn>
      </template>

      <template v-slot:no-data>
        <v-btn color="primary" @click="initialize"> Reset </v-btn>
      </template>
    </v-data-table>
  </div>
</template>

<style scoped></style>
