<script setup lang="ts">
import { useMemberStore } from '@/stores/member'
import { ref } from 'vue'
import type { VForm } from 'vuetify/components'

const memberStore = useMemberStore()
let lastId = 3
const loading = ref(false)
const refForm = ref<VForm | null>(null)

async function save() {
  const { valid } = await refForm.value!.validate()
  if (!valid) return

  if (memberStore.editedMember.id > -1) {
    const index = memberStore.members.findIndex((item) => item.id === memberStore.editedMember.id)
    Object.assign(memberStore.members[index], memberStore.editedMember)
  } else {
    memberStore.editedMember.id = lastId++
    memberStore.members.push(memberStore.editedMember)
  }
  closeDialog()
}
function closeDialog() {
  memberStore.openDialog = false
  memberStore.clear()
}
</script>
<template>
  <v-dialog v-model="memberStore.openDialog" max-width="600">
    <v-form ref="refForm">
      <v-card>
        <v-card-title class="text-h5 mt-5"> Membership </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="memberStore.editedMember.name"
                  :readonly="loading"
                  :rules="[(v) => !!v || 'Field is required']"
                  class="mb-2"
                  clearable
                  label="Name"
                >
                </v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="memberStore.editedMember.tel"
                  :readonly="loading"
                  :rules="[(v) => !!v || 'Field is required']"
                  class="mb-2"
                  clearable
                  label="Phone number"
                >
                </v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>

        <v-container>
          <v-row>
            <v-col cols="12" sm="6">
              <v-btn color="red" variant="elevated" block size="large" @click="closeDialog()">
                Cancel</v-btn
              >
            </v-col>
            <v-col cols="12" sm="6">
              <v-btn color="green-darken-1" variant="elevated" block size="large" @click="save()">
                Save
              </v-btn>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-form>
  </v-dialog>
</template>
