<script setup lang="ts">
import { useMemberStore } from '@/stores/member'
import { useReceiptStore } from '@/stores/receipt'

import { ref } from 'vue'
import MembershipDialog from './MembershipDialog.vue'

const tel = ref('')
const memberStore = useMemberStore()
const receiptStore = useReceiptStore()

function onClick() {
  memberStore.searchMember(tel.value)
  receiptStore.calReceipt()
}

function openMemberDialog() {
  memberStore.openDialog = true
}
</script>

<template>
  <v-container>
    <v-row justify="center">
      <v-col cols="6">
        <v-text-field
          class="pa-1"
          v-model="tel"
          density="compact"
          variant="solo"
          label="Tel."
          append-inner-icon="mdi-magnify"
          single-line
          hide-details
          clearable
          @click:append-inner="onClick"
          @keyup.enter="onClick"
        >
        </v-text-field>
      </v-col>
      <v-col cols="auto">
        <v-icon
          icon="mdi-account-plus-outline"
          size="x-large"
          class="mt-2"
          @click="openMemberDialog()"
        ></v-icon>
      </v-col>
      <v-row justify="center">
        <v-col cols="6" class="pa-1 text-center mt-8">{{
          memberStore.currentMember ? memberStore.currentMember?.name : 'ไม่พบผู้ใช้'
        }}</v-col>
      </v-row>
    </v-row>
  </v-container>
  <membership-dialog></membership-dialog>
</template>
