<script setup lang="ts">
import { nextTick, ref } from 'vue'

import type { Product } from '@/types/Product'
import { useReceiptStore } from '@/stores/receipt'
import ProductList from '@/components/ProductList.vue'

import ReceiptDetailTable from './ReceiptDetailTable.vue'
import MemberCard from './MemberCard.vue'
import ReceiptCard from './ReceiptCard.vue'
import ReceiptDialog from './ReceiptDialog.vue'
import { provide } from 'vue'

const dialog = ref(false)
provide('receiptDialog', dialog)

const receiptStore = useReceiptStore()

const tab = ref(1)
const selected = (p: Product) => {
  console.log('ProductView: ' + p)
  receiptStore.addReceiptItem(p)
  nextTick(() => {
    if (divReceiptItems.value) divReceiptItems.value.scrollTo(0, divReceiptItems.value.scrollHeight)
  })
}
const showReceipt = function () {
  receiptStore.showReceiptDialog()
  // dialog.value = true
}

const divReceiptItems = ref<HTMLElement | null>(null)

const products1: Product[] = [
  { id: 1, name: 'ลาเต้', price: 50.0, type: 1 },
  { id: 2, name: 'คาปูชิโน้', price: 50.0, type: 1 },
  { id: 3, name: 'เอสเปรสโซ่', price: 50.0, type: 1 },
  { id: 4, name: 'อเมริกาโน่', price: 50.0, type: 1 },
  { id: 5, name: 'โกโก้', price: 40.0, type: 1 },
  { id: 6, name: 'นมสด', price: 40.0, type: 1 },
  { id: 7, name: 'มิ้นท์ช็อค', price: 55.0, type: 1 },
  { id: 8, name: 'ชานม', price: 40.0, type: 1 },
  { id: 9, name: 'ชาไทย', price: 40.0, type: 1 },
  { id: 10, name: 'ชาดำ', price: 40.0, type: 1 },
  { id: 11, name: 'ชามะนาว', price: 40.0, type: 1 },
  { id: 12, name: 'ชาเขียว', price: 45.0, type: 1 }
]

const products2: Product[] = [
  { id: 13, name: 'แพนเค้ก', price: 70.0, type: 2 },
  { id: 14, name: 'เฟรนช์โทส', price: 80.0, type: 2 },
  { id: 15, name: 'บานอฟฟี่', price: 55.0, type: 2 },
  { id: 16, name: 'บลูเบอรี่ชีสเค้ก', price: 50.0, type: 2 },
  { id: 17, name: 'วาฟเฟิล', price: 55.0, type: 2 },
  { id: 18, name: 'พุดดิ้ง', price: 60.0, type: 2 },
  { id: 19, name: 'คุกกี้', price: 30.0, type: 2 },
  { id: 20, name: 'บราวนี่', price: 50.0, type: 2 },
  { id: 21, name: 'ชีสเค้ก', price: 55.0, type: 2 }
]

const products3: Product[] = [
  { id: 22, name: 'ไข่กระทะ', price: 65.0, type: 3 },
  { id: 23, name: 'สปาเกตตีซอสหมู', price: 120.0, type: 3 },
  { id: 24, name: 'สปาเกตตีซอสครีมเห็ด', price: 150.0, type: 3 },
  { id: 25, name: 'แซนด์วิช', price: 60.0, type: 3 },
  { id: 26, name: 'สลัด', price: 75.0, type: 3 },
  { id: 27, name: 'สเต๊กหมู', price: 230.0, type: 3 },
  { id: 28, name: 'สเต๊กไก่', price: 210.0, type: 3 },
  { id: 29, name: 'ผักโขมอบชีส', price: 160.0, type: 3 },
  { id: 30, name: 'ลาซานญ่า', price: 170.0, type: 3 }
]
</script>

<template>
  <v-container>
    <v-row>
      <v-col cols="12" md="6" style="background-color: antiquewhite">
        <v-container style="padding: 0">
          <v-row>
            <v-col cols="12">
              <div ref="divReceiptItems" style="height: 300; overflow: auto">
                <v-sheet min-width="300" max-width="600" height="300" elevation="6">
                  <ReceiptDetailTable></ReceiptDetailTable>
                </v-sheet>
              </div>
            </v-col>
            <v-col cols="12">
              <v-sheet min-width="300" max-width="600" height="80" elevation="6">
                <MemberCard></MemberCard>
              </v-sheet>
            </v-col>
            <v-col cols="12">
              <v-sheet min-width="300" max-width="600" height="100" elevation="6">
                <ReceiptCard></ReceiptCard>
              </v-sheet>
            </v-col>
            <v-col cols="12">
              <v-sheet min-width="300" max-width="600" height="80" elevation="6">
                <v-container>
                  <v-row>
                    <v-col cols="12" sm="6">
                      <v-btn
                        block
                        color="red"
                        size="large"
                        @click="
                          () => {
                            receiptStore.receiptDialog = false
                            receiptStore.clear()
                          }
                        "
                        >cancel</v-btn
                      >
                    </v-col>
                    <v-col cols="12" sm="6">
                      <v-btn block color="green-darken-1" size="large" @click="showReceipt"
                        >payment</v-btn
                      >
                    </v-col>
                  </v-row>
                </v-container>
              </v-sheet>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
      <v-col cols="12" md="6" style="background-color: rgb(145, 87, 55)">
        <v-sheet min-width="300" max-width="600" height="650" elevation="6">
          <v-tabs fixed-tabs v-model="tab" color="deep-purple-accent-4" align-tabs="center">
            <v-tab :value="1">Drink</v-tab>
            <v-tab :value="2">Dessert</v-tab>
            <v-tab :value="3">Food</v-tab>
          </v-tabs>
          <v-window v-model="tab">
            <v-window-item :value="1">
              <ProductList :products="products1" @selected-product="selected"></ProductList>
            </v-window-item>
            <v-window-item :value="2">
              <ProductList :products="products2" @selected-product="selected"></ProductList>
            </v-window-item>
            <v-window-item :value="3">
              <ProductList :products="products3" @selected-product="selected"></ProductList>
            </v-window-item>
          </v-window>
        </v-sheet>
      </v-col>
    </v-row>
  </v-container>
  <ReceiptDialog></ReceiptDialog>
</template>
