<script setup lang="ts">
import { useReceiptStore } from '@/stores/receipt'
import { inject, type Ref } from 'vue'

const receiptStore = useReceiptStore()
</script>

<template>
  <v-dialog v-model="receiptStore.receiptDialog" persistent width="500">
    <v-card>
      <v-card-title class="text-h5 text-center">
        <br />
        <strong>Receipt</strong>
      </v-card-title>
      <v-card-text class="text-center">
        <v-row>
          <v-col>
            <v-list-item>
              <v-list-item-content>
                <v-list-item-title class="text-h6 text-left">
                  Order ID: {{ receiptStore.receipt.id }}
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-col>
          <v-col>
            <v-list-item>
              <v-list-item-content>
                <v-list-item-title class="text-h6 text-left">
                  Date: {{ receiptStore.receipt.createdDate }}
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-col>
        </v-row>

        <v-divider></v-divider>

        <v-list>
          <v-list-item-group v-if="receiptStore.receiptItems.length > 0">
            <v-list-item v-for="(item, index) in receiptStore.receiptItems" :key="index">
              <v-list-item-content>
                <v-row>
                  <v-col>
                    <v-list-item-title class="text-left"> {{ item.name }} </v-list-item-title>
                  </v-col>
                  <v-col>
                    <v-list-item-title> {{ item.unit }} </v-list-item-title>
                  </v-col>
                  <v-col>
                    <v-list-item-content class="text-right">
                      {{ item.price }} บาท
                    </v-list-item-content>
                  </v-col>
                </v-row>
              </v-list-item-content>
            </v-list-item>

            <v-divider></v-divider>

            <v-list-item>
              <v-list-item-content>
                <v-row>
                  <v-col>
                    <v-list-item-title class="text-h6 text-left">
                      <strong>Total:</strong>
                    </v-list-item-title>
                  </v-col>
                  <v-col>
                    <v-list-item-title class="text-h6 text-left">
                      {{ receiptStore.receipt.total }} บาท
                    </v-list-item-title>
                  </v-col>
                </v-row>
              </v-list-item-content>
            </v-list-item>
          </v-list-item-group>
          <v-list-item v-else>
            <v-list-item-content class="text-h6"> No items in the receipt. </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="green darken-1" variant="text" @click="receiptStore.receiptDialog = false">
          Close
        </v-btn>
        <v-btn
          color="green darken-1"
          variant="text"
          @click="
            () => {
              receiptStore.receiptDialog = false
              receiptStore.clear()
            }
          "
        >
          Save
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
