<script setup lang="ts">
import { useMemberStore } from '@/stores/member'
import MembershipDialog from './POS/MembershipDialog.vue'
import type { Member } from '@/types/Member'

const memberStore = useMemberStore()

const headers = [
  {
    title: 'Id',
    key: 'id',
    value: 'id'
  },
  {
    title: 'Name',
    key: 'name',
    value: 'name'
  },
  {
    title: 'Tel',
    key: 'tel',
    value: 'tel'
  },
  {
    title: 'Actions',
    value: 'actions',
    sortable: false
  }
]
function openMemberDialog() {
  memberStore.openDialog = true
}

function editMember(item: Member) {
  memberStore.editedMember = JSON.parse(JSON.stringify(item))
  openMemberDialog()
}
function closeDialog() {
  memberStore.delDialog = false
  memberStore.clear()
}

function deleteItem() {
  const index = memberStore.members.findIndex((item) => item === memberStore.editedMember)
  memberStore.members.splice(index, 1)
  closeDialog()
}
function openDelDialog(item: Member) {
  memberStore.editedMember = item
  memberStore.delDialog = true
}
</script>

<template>
  <div>
    <v-data-table :headers="headers" :items="memberStore.members">
      <template v-slot:top>
        <v-toolbar flat>
          <v-toolbar-title> Membership </v-toolbar-title>
          <template v-slot:append>
            <v-btn variant="text" color="blue" @click="openMemberDialog()">New Member</v-btn>
          </template>
          <v-dialog persistent v-model="memberStore.delDialog" max-width="500px">
            <v-card>
              <div style="margin: auto; padding: 15px 5px; font-size: 20px; text-align: center">
                Are you sure you want to delete this member?
              </div>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue-darken-1" variant="text" @click="closeDialog()">Cancel</v-btn>
                <v-btn color="blue-darken-1" variant="text" @click="deleteItem()">OK</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-icon size="small" class="me-2" @click="editMember(item)"> mdi-pencil </v-icon>
        <v-icon size="small" @click="openDelDialog(item)"> mdi-delete </v-icon>
      </template></v-data-table
    >
  </div>
  <MembershipDialog></MembershipDialog>
</template>
