<script setup lang="ts">
import { computed, onMounted } from 'vue'
import { nextTick, ref } from 'vue'
import type { VForm } from 'vuetify/components'
import type { Stock } from '@/types/Stock'

const headers = [
  {
    title: 'Id',
    key: 'id',
    value: 'id'
  },
  {
    title: 'Photo',
    key: 'image'
  },
  {
    title: 'Name',
    key: 'name',
    value: 'name'
  },
  {
    title: 'Min',
    key: 'min',
    value: 'min'
  },

  {
    title: 'Max',
    key: 'max',
    value: 'max'
  },
  {
    title: 'Quantity',
    key: 'quantity',
    value: 'quantity'
  },
  {
    title: 'Until',
    key: 'until',
    value: 'until'
  },
  {
    title: 'Status',
    key: 'status',
    value: 'status'
  },
  { title: 'Actions', key: 'actions', sortable: false }
]
const search = ref('')
const form = ref(false)
const refform = ref<VForm | null>(null)
const dialog = ref(false)
const dialogDelete = ref(false)
const loading = ref(false)

const filteredStock = computed(() => {
  return stock.value.filter((item) => item.name.toLowerCase().includes(search.value.toLowerCase()))
})

const initilUser: Stock = {
  id: -1,
  image: '',
  name: '',
  min: '',
  max: '',
  quantity: '',
  until: '',
  status: ''
}
const editedStock = ref<Stock>(JSON.parse(JSON.stringify(initilUser)))
const stock = ref<Stock[]>([])
let editedIndex = -1
let lastId = 4
function onSubmit() {}

function closeDelete() {
  dialogDelete.value = false
  nextTick(() => {
    editedStock.value = Object.assign({}, initilUser)
  })
}
function deleteItemConfirm() {
  stock.value.splice(editedIndex, 1)
  closeDelete()
}
function editItem(item: Stock) {
  editedIndex = stock.value.indexOf(item)
  editedStock.value = Object.assign({}, item)
  dialog.value = true
}
function deleteItem(item: Stock) {
  editedIndex = stock.value.indexOf(item)
  editedStock.value = Object.assign({}, item)
  dialogDelete.value = true
  editedIndex = -1
}
function closeDialog() {
  dialog.value = false
  nextTick(() => {
    editedStock.value = Object.assign({}, initilUser)
  })
}
async function save() {
  const { valid } = await refform.value!.validate()

  if (!valid) return

  if (editedIndex > -1) {
    Object.assign(stock.value[editedIndex], editedStock.value)
  } else {
    editedStock.value.id = lastId++
    stock.value.push(editedStock.value)
  }

  editedIndex = -1
  closeDialog()
}
function initialize() {
  stock.value = [
    {
      id: 1,
      name: 'Chocolate',
      min: '5',
      max: '30',
      quantity: '4',
      until: 'Kg.',
      status: 'Low Stock'
    },
    {
      id: 2,
      name: 'Coffee Bean',
      min: '10',
      max: '40',
      quantity: '35',
      until: 'Kg.',
      status: 'High Stock'
    },
    {
      id: 3,
      name: 'Milk',
      min: '20',
      max: '50',
      quantity: '25',
      until: 'Ml.',
      status: 'Medium Stock'
    },
    {
      id: 4,
      name: 'Green Tea ',
      min: '10',
      max: '40',
      quantity: '30',
      until: 'Kg.',
      status: 'High Stock'
    },
    {
      id: 5,
      name: 'Strawberry',
      min: '20',
      max: '50',
      quantity: '25',
      until: 'Ml.',
      status: 'Medium Stock'
    },
    {
      id: 6,
      name: 'Caramel',
      min: '30',
      max: '50',
      quantity: '25',
      until: 'Ml.',
      status: 'Low Stock'
    }
  ]
}

onMounted(() => {
  initialize()
})
</script>

<template>
  <div>
    <v-data-table :headers="headers" :items="stock" :search="search">
      <template v-slot:top>
        <v-toolbar flat>
          <v-toolbar-title>Stock Management</v-toolbar-title>
          <div>
            <v-toolbar density="compact">
              <v-spacer></v-spacer>

              <v-btn icon class="right-align">
                <v-icon>mdi-magnify</v-icon>
              </v-btn>
              <v-text-field v-model="search" label=" " clearable></v-text-field>
            </v-toolbar>
          </div>
          <v-divider class="mx-4" inset vertical></v-divider>

          <v-dialog v-model="dialog" persistent width="1024">
            <template v-slot:activator="{ props }">
              <v-btn color="primary" v-bind="props"> New Stock </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="text-h5">D-COFFEE Stock</span>
              </v-card-title>
              <v-card-text>
                <v-form ref="refform" v-model="form" @submit.prevent="onSubmit">
                  <v-container>
                    <v-row>
                      
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model="editedStock.name"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                          label="Name"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model="editedStock.min"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                          label="Minimum"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model="editedStock.max"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                          label="Maximum"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="4">
                        <v-text-field
                          v-model="editedStock.quantity"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          clearable
                          label="Quantity"
                          placeholder="Enter your password"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6">
                        <v-combobox
                          label="Until"
                          :items="['Kg.', 'Ml.']"
                          v-model="editedStock.until"
                        >
                        </v-combobox>
                      </v-col>
                      <v-col cols="12" sm="6">
                        <v-combobox
                          label="Status"
                          :items="['Low Stock', 'Medium Stock', 'High Stock']"
                          v-model="editedStock.status"
                        >
                        </v-combobox>
                      </v-col>
                      <v-col cols="12" sm="4">
                        <v-file-input
                          v-model="editedStock.files"
                          :rules="[
                            (value) => {
                              return (
                                !value ||
                                !value.length ||
                                value[0].size < 2000000 ||
                                'Image size should be less than 2 MB!'
                              )
                            }
                          ]"
                          accept="image/png, image/jpeg, image/bmp"
                          label="Image"
                          placeholder="Pick an image"
                          prepend-icon="mdi-camera"
                        ></v-file-input
                      ></v-col>
                    </v-row>
                  </v-container>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue-darken-1" variant="text" @click="dialog = false">Close</v-btn>
                <v-btn color="blue-darken-1" variant="text" @click="save">Save</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>

          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="text-h5"
                >Are you sure you want to delete this item?</v-card-title
              >
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue-darken-1" variant="text" @click="closeDelete">Cancel</v-btn>
                <v-btn color="blue-darken-1" variant="text" @click="deleteItemConfirm">OK</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>

      <template v-slot:[`item.actions`]="{ item }">
        <v-icon size="small" class="me-2" @click="editItem(item)">mdi-pencil</v-icon>
        <v-icon size="small" @click="deleteItem(item)">mdi-delete</v-icon>
      </template>

      <template v-slot:[`item.image`]="{ item }">
        <v-img :src="'http://localhost:3000/images/material/' + item.image"></v-img>
      </template>
      <template v-slot:no-data>
        <v-btn color="primary" @click="initialize"> Reset </v-btn>
      </template>
    </v-data-table>
  </div>
</template>
