<script setup lang="ts">
import { inject, ref, type Ref } from 'vue'

const rail = inject<Ref<boolean>>('rail')

const currentDate = ref()
const currentTime = ref()

function dateTime() {
  const now = new Date()
  currentDate.value = now.toLocaleDateString()
  currentTime.value = now.toLocaleTimeString()
}
setInterval(dateTime, 0)
</script>

<template>
  <v-app-bar style="background-color: #8b4513">
    <template v-slot:prepend>
      <v-app-bar-nav-icon @click.stop="rail = !rail"></v-app-bar-nav-icon>
    </template>

    <v-app-bar-title
      style="
        color: white;
        font-size: 24px;
        font-weight: 150;
        font-family: 'Font', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      "
      >D-COFFEE</v-app-bar-title
    >

    <v-spacer></v-spacer>
    <div class="time-section">
      <p
        style="
          color: white;
          font-size: 16px;
          font-family: 'Font', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        "
      >
        {{ currentDate }} {{ currentTime }}
      </p>
    </div>

    <v-menu min-width="200px" rounded>
      <template v-slot:activator="{ props }">
        <v-btn icon v-bind="props">
          <v-avatar>
            <v-img src="public/profilepic/prayuth2.jpg" alt="Prayuth"></v-img>
          </v-avatar>
        </v-btn>
      </template>
      <v-card class="custom-card">
        <v-card-text>
          <div class="mx-auto text-center">
            <v-avatar>
              <v-img src="public/profilepic/prayuth2.jpg" alt="Prayuth"></v-img>
            </v-avatar>

            <v-divider class="btn1"></v-divider>
            <v-btn
              rounded
              variant="plain"
              style="
                background-color: black;
                color: white;
                font-size: 15px;
                font-family: 'Font', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
                  sans-serif;
              "
            >
              LOG OUT
            </v-btn>
          </div>
        </v-card-text>
      </v-card>
    </v-menu>
  </v-app-bar>
</template>

<style>
.time-section {
  display: flex;
  align-items: center;
}
</style>
