<script setup lang="ts">
import { inject } from 'vue'
import Icon from '@mdi/react'
import { userAuthor } from '@/stores/author'

const drawer = inject<boolean>('drawer')
const rail = inject<boolean>('rail')
const authStore = userAuthor()
</script>

<template>
  <v-navigation-drawer v-model="drawer" :rail="rail" permanent @click="rail = false" style="background-color: #a0522d">
    <v-list-item prepend-avatar="public/profilepic/prayuth2.jpg" :title="authStore.getCurrentUser()?.email" style="
        color: white;
        font-size: 30px;
        font-weight: 150;
        font-family: 'Font', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      ">
      <template v-slot:append>
        <v-btn variant="text" icon="mdi-chevron-left" @click.stop="rail = !rail"></v-btn>
      </template>
    </v-list-item>

    <v-divider></v-divider>

    <v-list density="compact" nav>
      <v-list-item prepend-icon="mdi-home-city" title="Point Of Sales" style="
          color: white;
          font-size: 18px;
          font-weight: 150;
          font-family: 'Font', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        " value="home" :to="{ name: 'home' }"></v-list-item>

      <v-list-item prepend-icon="mdi-account-multiple-plus" title="Membership" style="
          color: white;
          font-size: 18px;
          font-weight: 150;
          font-family: 'Font', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        " value="membership" :to="{ path: 'membership-view' }"></v-list-item>

      <v-list-item prepend-icon="mdi-archive" title="Stock Management" style="
          color: white;
          font-size: 20px;
          font-weight: 150;
          font-family: 'Font', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        " value="account" :to="{ path: 'stock' }"></v-list-item>

      <v-list-item prepend-icon="mdi-cash-clock" title="Salary Payment" style="
          color: white;
          font-size: 18px;
          font-weight: 150;
          font-family: 'Font', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        " value="salary" :to="{ path: 'salary' }"></v-list-item>

      <v-list-item prepend-icon="mdi-account-group-outline" title="Users Management" style="
          color: white;
          font-size: 18px;
          font-weight: 150;
          font-family: 'Font', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        " value="users" :to="{ path: 'users' }"></v-list-item>

      <v-list-item prepend-icon="mdi-account-clock" title="Check IN & OUT" style="
          color: white;
          font-size: 18px;
          font-weight: 150;
          font-family: 'Font', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        " value="checkin" :to="{ path: 'Checkinout-view' }"></v-list-item>

      <v-list-item prepend-icon="mdi-logout" title="Logout" style="
          color: white;
          font-size: 18px;
          font-weight: 150;
          font-family: 'Font', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        " value="logout" @click="authStore.logout()"></v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>
